<div class="counter-total"><span>{{ total }}</span></div>
<ul class="counter-list">
  <li class="item-total"><label>Tổng số truy cập:</label><span>{{ total }}</span></li>
  <li><label>Truy cập hôm qua:</label><span>{{ yesterday }}</span></li>
  <li><label>Truy cập hôm nay:</label><span>{{ today }}</span></li>
</ul>