{% extends 'layout.twig' %}

{% block breakcrumb %}
  <h2 id="page-title" class="post-detail-title">{{ post.title }}</h2>
{% endblock %}

{% block content %}
  {% for post in posts %}
    {% include ["single-"~post.post_name~".twig", "single-"~post.post_type~".twig", 'tease.twig'] %}
  {% endfor %}
{% endblock %}