{% block footer %}
  <footer id="footer" class="footer">
    <div class="copyright">
      <div class="block-inner">
        {{ fn('acfwidget', 'footer_text', 'footer_widget-2') }}
      </div>
    </div>
  </footer>
{% endblock %}
